{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{%- style -%}
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
          padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

    .full-width-feature-section .page-width
     {
        width: 100%;
        max-width: none;
    }
    .custom-grid-section .grid__item .custom_card
   {
      width: 100%;
  }
  .custom-grid-section .grid__item .custom_card .custom_card_media{
        width: 100%;
        cursor: pointer;
        overflow: hidden;
    height: 97%;
  }

  .custom-grid-section .grid__item .custom_card .custom_card_media img{
            height: auto;
                transition: 0.3s ease-in-out;
      width: 100%;

        transform: scale(1);
  }

  .custom-grid-section .grid__item:hover .custom_card .custom_card_media img {
      transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }

.product-modal {
  display: flex;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.product-modal.hidden {
  display: none;
}

.product-modal-content {
  background: white;
  padding: 2rem;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.product-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

.custom-grid-section .grid__item
 {
    position: relative;
}
.custom-grid-section .grid__item .open-modal-btn {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

        @media screen and (min-width: 750px) {
          .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
          }
        }
{%- endstyle -%}

<div class="custom-grid-section color-{{ section.settings.color_scheme }} isolate gradient section-{{ section.id }}-padding {% if section.settings.custom_full_width %}full-width-feature-section{% endif %}">
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}

    <div class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <div class="grid__item">
          <div class="card-wrapper product-card-wrapper underline-links-hover">
            <div class="card card--standard card--media">
              <div class="card__inner color-scheme-2 gradient ratio">
                <div class="custom_card">
                  <div class="custom_card_media">
                    <img
                      src="{{ product.featured_media | image_url: width: 533 }}"
                      alt="{{ product.featured_media.alt | escape }}"
                      class="motion-reduce"
                      width="{{ product.featured_media.width }}"
                      height="{{ product.featured_media.height }}"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>





          {% comment %} modal box start {% endcomment %}

<button class="open-modal-btn"
  data-title="{{ product.title }}"
  data-price="{{ product.price | money }}"
  data-description="{{ product.description }}"
  data-image="{{ product.featured_media | image_url: width: 533 }}"
  data-url="{{ product.url }}"

>
  View More
</button>
{% comment %} modal box end {% endcomment %}

        </div>
      {%- endfor -%}
      <div id="product-modal" class="product-modal hidden">
  <div class="product-modal-content">
    <span class="product-close">&times;</span>
    <div class="modal-left">
      <img id="modal-image" src="{{ 'placeholder.png' | asset_url }}" width="400" height="400" alt="Product image"/>
    </div>
    <div class="modal-right">
      <h2 id="modal-title" class="modal--title"></h2>
    <p id="modal-price"  class="modal-price"></p>
    <p id="modal-description"  class="modal-description"></p>
    </div>
    <div class="modal-bottom">
        <a id="modal-add-cart" class="add-to-cart-modal" href="">
          Add to Cart
        </a>
    </div>
    <p></p>
  </div>
</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Grid Product",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["*"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    },
    {
      "type": "checkbox",
      "id": "custom_full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "2",
      "label": "Columns on mobile"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Grid Product",
      "category": "Custom"
    }
  ]
}
{% endschema %}
